{% extends "layout.html" %}

{% block title %}
  Eindresultaat
{% endblock %}


{% block main %}


<form name = 'answers' id="questionForm"  method="post">

<div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            {%  for x in range(1, questions|length ) %}
            <li data-target="#myCarousel" data-slide-to={{x}}></li>
            {% endfor %}
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="item active">
              <div class="card" id='QuestionCard'>
                  <div class="card-body">
                  <h5 class="card-title">{{questions[0]["category"]}}</h5>
                  <p class="card-text"> {{questions[0]["question"]}}</p>
                </div>

                <!-- Answer options and it can provide a random order -->
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><input type="radio" name={{"answer"+0|string}} value="{{questions[0]['random_answers'][0]}}"> A <text>{{questions[0]["random_answers"][0]}}</text></li>
                  <li class="list-group-item"><input type="radio" name={{"answer"+0|string}} value="{{questions[0]['random_answers'][1]}}"> B <text>{{questions[0]["random_answers"][1]}}</text></li>
                  <li class="list-group-item"><input type="radio" name={{"answer"+0|string}} value="{{questions[0]['random_answers'][2]}}"> C <text>{{questions[0]["random_answers"][2]}}</text></li>
                  <li class="list-group-item"><input type="radio" name={{"answer"+0|string}} value="{{questions[0]['random_answers'][3]}}"> D <text>{{questions[0]["random_answers"][3]}}</text></li>

                </ul>
              </div>
            </div>
            {%  for x in range(1,questions|length ) %}
            <div class="item">

                <div class="card" id='QuestionCard'>
                    <div class="card-body">
                    <h5 class="card-title">{{questions[x]["category"]}}</h5>
                    <p class="card-text"> {{questions[x]["question"]}}</p>
                  </div>

                  <!-- Answer options and it can provide a random order -->
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><input type="radio" name={{"answer"+x|string}} value="{{questions[x]['random_answers'][0]}}"> A <text>{{questions[x]["random_answers"][0]}}</text></li>
                    <li class="list-group-item"><input type="radio" name={{"answer"+x|string}} value="{{questions[x]['random_answers'][1]}}"> B <text>{{questions[x]["random_answers"][1]}}</text></li>
                    <li class="list-group-item"><input type="radio" name={{"answer"+x|string}} value="{{questions[x]['random_answers'][2]}}"> C <text>{{questions[x]["random_answers"][2]}}</text></li>
                    <li class="list-group-item"><input type="radio" name={{"answer"+x|string}} value="{{questions[x]['random_answers'][3]}}"> D <text>{{questions[x]["random_answers"][3]}}</text></li>

                  </ul>
              </div>


            </div>
            {% endfor %}

        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>


    <center><button type="button" class="btn btn-default">To Results</button></center>

 </form>

<script>

  $("button").click(function(){

  // Shows questions one by one
  $.ajax({
    type : 'POST',
    url : "{{url_for('eindresultaat')}}",
    data: JSON.stringify({
    "ca0": "{{questions[0]['correct_answer']}}",
    "ca1": "{{questions[1]['correct_answer']}}",
    "ca2": "{{questions[2]['correct_answer']}}",
    "ca3": "{{questions[3]['correct_answer']}}",
    "ca4": "{{questions[4]['correct_answer']}}",
    "ca5": "{{questions[5]['correct_answer']}}",
    "ca6": "{{questions[6]['correct_answer']}}",
    "ca7": "{{questions[7]['correct_answer']}}",
    "ca8": "{{questions[8]['correct_answer']}}",
    "ca9": "{{questions[9]['correct_answer']}}",
    "a0" : $('input[name="answer0"]:checked').val(),
    "a1" : $('input[name="answer1"]:checked').val(),
    "a2" : $('input[name="answer2"]:checked').val(),
    "a3" : $('input[name="answer3"]:checked').val(),
    "a4" : $('input[name="answer4"]:checked').val(),
    "a5" : $('input[name="answer5"]:checked').val(),
    "a6" : $('input[name="answer6"]:checked').val(),
    "a7" : $('input[name="answer7"]:checked').val(),
    "a8" : $('input[name="answer8"]:checked').val(),
    "a9" : $('input[name="answer9"]:checked').val(),
  }, null, '\t'),
    contentType: 'application/json;charset=UTF-8',
    success:function(response){
      $("#questionForm").hide();
      document.write(response);
      }
   });
  });

  // Make it possible to show questions next to each other on the same page
  $('.carousel').carousel({
      pause: true,
      interval: false
  });

</script>
  {% endblock %}
